@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

#wrap {
    display: grid;
    grid-template-columns: repeat(15, 90px);
    grid-template-rows: repeat(39, 20px);
    background-image: url('https://garden.spoonflower.com/c/12471449/p/f/m/E5o2IuFn2jLZRC7SC3XJzka9c38J3AzwGYR0C4C9OpfH9xN5JgwukYf6ZA/Chocolate%20Chip%20Cookies.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    border: 30px solid maroon;
}
#screen {
    background: beige;
    grid-row: 10 / span 8; 
    grid-column: 6/ span 6; 
    text-align: center;
    height: 170px;
    justify-content: center;
    align-items: center;
    border: 20px solid maroon;
}

#button {
    grid-row: 23;
    grid-column: 8 ;
    height: 90px;
    margin-bottom: 60px;
    margin-left: 20px;
    width: 90px;
    font-family: 'Special Elite', cursive;
    border-radius: 50%;
    color: white;
    background-color: maroon;
}

#text-output{
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Special Elite', cursive;;
}
#inventory {
    background: wheat;
    grid-row: 29 / span 14;
    grid-column: 5 / span 8;
    font-size: 10px;
    display: grid; 
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    grid-auto-flow: column; 
    overflow-y: auto; 
    border: 20px solid maroon;
    margin-bottom: 40px;

    
}
#inventory-heading {
    
    font-size: 34px;
    grid-column: 2;
    padding-right: 50px;
    margin-left: 120px;
    text-decoration: underline;
    font-family: 'Special Elite', cursive;;

}


#cookie-list {
    font-family: 'Special Elite', cursive;;
    grid-row: 2;
    grid-column: 5;
    margin-top: 10px;
    font-size: 20px;
    
}
#player-hp {
    grid-row: 6;
    grid-column: 2 / span 6;
    font-size: 80px;
    color: white;
    font-family: 'Special Elite', cursive;;
}
img {
    width: 70px;
    height: 60px;
    padding-left: 60px;
}
.gameHead {
    grid-row: 3;
    font-size: 70px;
    grid-column: 7 / 9;
    font-family: 'Special Elite', cursive;
    align-items: center;
    color: white
}
#consumer {
    grid-row: 13;
    width: 90px;
    height: 90px;
    color: white;
    background-color: maroon;
    border-radius: 50%;
    grid-column: 4;
    font-family: 'Special Elite', cursive;;

}
@media (max-width: 375px) {
    body {
        margin: 0;
    }
    #wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(10, auto);
        grid-template-rows: repeat(10, auto);
        background-image: url('https://garden.spoonflower.com/c/12471449/p/f/m/E5o2IuFn2jLZRC7SC3XJzka9c38J3AzwGYR0C4C9OpfH9xN5JgwukYf6ZA/Chocolate%20Chip%20Cookies.jpg');
        background-size: cover;
        background-position: center;
        border: none;
    }
    #screen {
        background: beige;
        grid-column: 1 / span 10; 
        height: 300px;
        width: 400px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        padding-right: 40px;
        margin: 0%;
    }
    #consumer {
        grid-column: 2 / span 2; 
        grid-row: 18; 
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 150px;
        margin-top: 20px; 
    }

    #button {
        grid-row: 18; 
        padding: 0px;
        margin-right: 90px;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        grid-column: 7 / span 2; 
        margin-top: 20px; 
    }#inventory {
        background: wheat;
        grid-row: 29 / span 14;
        width: 300px;
        grid-column: 1 / span 10; 
        font-size: 7px;
        margin-left: 50px;
        display: flex;
        align-items: flex-start; 
        border: 2px solid black;
    }

    #inventory-heading {
        grid-column: 1 / span 10; 
        font-size: 20px;
        margin-top: 10px;
        align-self: flex-start; 
        text-decoration: underline;
        margin-left: 20px; 
    }
    #text-output {
        font-size: 25px;
    }
    #player-hp {
        grid-column: 1;
        text-align: center;
        font-size: 40px;
    }
    .gameHead {
        display: none;
    }
}




